/**
 * Variables
 */
/**
 * Variables
 */
.my-container {
  max-width: 960px;
  margin: 0 auto;
}
.my-container:after {
  content: "";
  display: table;
  clear: both;
}

.state-default .state-default .my-container:after, .state-default .my-container:after {
  content: "";
  display: table;
  clear: both;
}
.my-row:before, .gallery:before, .my-row:after, .gallery:after {
  content: "";
  display: table;
}
.my-row:after, .gallery:after {
  clear: both;
}
.my-row, .gallery {
  zoom: 1;
}

.state-default .state-default .my-row:before, .state-default .my-row:before, .state-default .state-default .gallery:before, .state-default .gallery:before, .state-default .state-default .my-row:after, .state-default .my-row:after, .state-default .state-default .gallery:after, .state-default .gallery:after {
  content: "";
  display: table;
}
.state-default .state-default .my-row:after, .state-default .my-row:after, .state-default .state-default .gallery:after, .state-default .gallery:after {
  clear: both;
}
.state-default .state-default .my-row, .state-default .my-row, .state-default .state-default .gallery, .state-default .gallery {
  zoom: 1;
}
.my-grid-12, .my-grid-6, #site_header,
#site_footer, #site_content, #site_sidebar, .gallery__item {
  display: inline-block;
  min-height: 1px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  padding-right: 10px;
  padding-left: 10px;
}

.state-default .state-default .my-grid-12, .state-default .my-grid-12, .state-default .state-default .my-grid-6, .state-default .my-grid-6, .state-default .state-default #site_header, .state-default .state-default
#site_footer, .state-default #site_header, .state-default
#site_footer, .state-default .state-default #site_content, .state-default #site_content, .state-default .state-default #site_sidebar, .state-default #site_sidebar, .state-default .state-default .gallery__item, .state-default .gallery__item {
  display: inline-block;
  min-height: 1px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  padding-right: 10px;
  padding-left: 10px;
}
.my-row {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -10px;
  margin-right: -10px;
}
.state-default .my-row {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -10px;
  margin-right: -10px;
}
.state-default .state-default .my-row {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -10px;
  margin-right: -10px;
}
[class*="no-gutter"] > .state-default .state-default .my-row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
[class*="no-gutter"] > .state-default .my-row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.state-default .my-row {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -10px;
  margin-right: -10px;
}
[class*="no-gutter"] > .state-default .my-row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
[class*="no-gutter"] > .my-row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.my-grid-12 {
  width: 100%;
}
.state-default .my-grid-12 {
  width: 100%;
}
.state-default .state-default .my-grid-12 {
  width: 100%;
}
.state-default .my-grid-12 {
  width: 100%;
}

.my-grid-6 {
  width: 50%;
}
.state-default .my-grid-6 {
  width: 50%;
}
.state-default .state-default .my-grid-6 {
  width: 50%;
}
.state-default .my-grid-6 {
  width: 50%;
}

#site_header,
#site_footer {
  width: 100%;
}
.state-default #site_header, .state-default
#site_footer {
  width: 100%;
}
.state-default .state-default #site_header, .state-default .state-default
#site_footer {
  width: 100%;
}
.state-default #site_header, .state-default
#site_footer {
  width: 100%;
}

#site_content {
  width: 66.66666667%;
}
.state-default #site_content {
  width: 66.66666667%;
}
.state-default .state-default #site_content {
  width: 66.66666667%;
}
.state-default #site_content {
  width: 66.66666667%;
}

#site_sidebar {
  width: 33.33333333%;
  background: blue;
}
.state-default #site_sidebar {
  width: 33.33333333%;
}
.state-default .state-default #site_sidebar {
  width: 33.33333333%;
}
.state-default #site_sidebar {
  width: 33.33333333%;
}

.gallery {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -10px;
  margin-right: -10px;
}
.state-default .gallery {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -10px;
  margin-right: -10px;
}
.state-default .state-default .gallery {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -10px;
  margin-right: -10px;
}
[class*="no-gutter"] > .state-default .state-default .gallery {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
[class*="no-gutter"] > .state-default .gallery {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.state-default .gallery {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -10px;
  margin-right: -10px;
}
[class*="no-gutter"] > .state-default .gallery {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
[class*="no-gutter"] > .gallery {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.gallery__item {
  width: 33.33333333%;
  height: 50px;
}
.state-default .gallery__item {
  width: 33.33333333%;
}
.state-default .state-default .gallery__item {
  width: 33.33333333%;
}
.state-default .gallery__item {
  width: 33.33333333%;
}

/**
 * Debug grid
 */
#site_sidebar,
#site_content,
#site_header,
#site_footer {
  background: #eaedef;
  border: 1px solid #dce1e4;
  padding-top: 10px;
  padding-bottom: 10px;
}
#site_sidebar:before,
#site_content:before,
#site_header:before,
#site_footer:before {
  display: block;
  content: attr(class);
  font-weight: bold;
}
