/**
 * Imports :
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 * Import grid settings :
 * This to be able to use gridle mixins, etc...
 */
#myCoolItem, .state-default #myCoolItem {
  display: inline-block;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  direction: ltr;
  padding-left: 10px;
  padding-right: 10px;
  content: hello world;
}
#myCoolItem:after, .state-default #myCoolItem:after {
  content: yop my after content;
}

#myCoolItem, .state-default #myCoolItem {
  position: relative;
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .state-tablet #myCoolItem, #myCoolItem {
    display: inline-block;
    min-height: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    direction: ltr;
    padding-left: 10px;
    padding-right: 10px;
  }

  .state-tablet #myCoolItem, #myCoolItem {
    position: relative;
  }
}
/**
 * Variables
 */
/**
 * Medias :
 */
ul#medias {
  background: black;
  text-align: center;
  margin-bottom: 30px;
}
ul#medias li {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin: 0;
}
ul#medias li.active, ul#medias li:hover {
  background: white;
  color: black;
}
.state-uvgnf59xv ul#medias {
  display: none;
}
@media screen and (max-width: 620px) {
  ul#medias {
    display: none;
  }
}

/**
 * Basic formatting :
 */
html {
  font: 11px/1.5 'Helvetica Neue', Verdana, sans-serif;
  color: #48565f;
}

.state-mobile body {
  text-align: center;
}
@media screen and (max-width: 480px) {
  body {
    text-align: center;
  }
}
.state-ipad-landscape body {
  font-size: 16px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  body {
    font-size: 16px;
  }
}

/**
 * Typography
 */
.h2 {
  margin: 20px 0 0 0;
  font-size: 30px;
}

.h3 {
  margin: 15px 0 0 0;
  font-size: 20px;
}

.p {
  margin-top: 10px;
  font-size: 16px;
  color: #8596a2;
}

/**
 * Prism
 */
pre {
  background-color: #eaedef !important;
}

/**
 * State selector
 */
.state-selector {
  margin-top: 10px;
  background: #eaedef;
  padding: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin-right: 10px;
}
.state-selector li {
  display: inline-block;
  padding: 5px 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 2px;
}
.state-selector li:hover,
.state-selector li.active {
  background-color: #48565f;
  color: white;
}

/**
 * Debug grid
 */
.gridle-debug [class*="grid-"],
.gridle-debug [class*="flex-grid"],
.gridle-debug [class*="flex-grow"] {
  background: #eaedef;
  border: 1px solid #dce1e4;
  padding-top: 10px;
  padding-bottom: 10px;
  content: " hello";
}
.gridle-debug [class*="grid-"]:before,
.gridle-debug [class*="flex-grid"]:before,
.gridle-debug [class*="flex-grow"]:before {
  display: block;
  content: attr(class);
  font-weight: bold;
}
.gridle-debug [class*="push-"] {
  background: #bfc8ce;
}
.gridle-debug [class*="pull-"] {
  background: #b0bbc3;
}

/**
 * Gridle set sample :
 */
#myCoolItem {
  width: 66.66667%;
  left: 16.66667%;
}
.state-default #myCoolItem {
  width: 66.66667%;
}
.state-ipad-landscape .state-default #myCoolItem {
  padding-left: 0px;
  padding-right: 0px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .state-default #myCoolItem {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.state-ipad-landscape #myCoolItem {
  padding-left: 0px;
  padding-right: 0px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  #myCoolItem {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.state-default #myCoolItem {
  left: 16.66667%;
}
.state-tablet #myCoolItem {
  width: 100%;
}
.state-ipad-landscape .state-tablet #myCoolItem {
  padding-left: 0px;
  padding-right: 0px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .state-tablet #myCoolItem {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  #myCoolItem {
    width: 100%;
  }
  .state-ipad-landscape #myCoolItem {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1024px) and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  #myCoolItem {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.state-tablet #myCoolItem {
  left: 0%;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  #myCoolItem {
    left: 0%;
  }
}
.state-mobile #myCoolItem {
  visibility: hidden;
}
@media screen and (max-width: 480px) {
  #myCoolItem {
    visibility: hidden;
  }
}
.state-mobile #myCoolItem {
  visibility: hidden;
}
@media screen and (max-width: 480px) {
  #myCoolItem {
    visibility: hidden;
  }
}
