/*
Sass::SyntaxError: "#myCoolItem" failed to @extend ".default-grid".
The selector ".default-grid" was not found.
Use "@extend .default-grid !optional" if the extend should be able to fail.


Backtrace:
/data/web/gridle/sass/gridle/_mixins.scss:301
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.10/lib/sass/tree/visitors/extend.rb:61:in `block in check_extends_fired!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.10/lib/sass/util/subset_map.rb:106:in `block in each_value'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.10/lib/sass/util/subset_map.rb:106:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.10/lib/sass/util/subset_map.rb:106:in `each_value'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.10/lib/sass/tree/visitors/extend.rb:50:in `check_extends_fired!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.10/lib/sass/tree/visitors/extend.rb:16:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.10/lib/sass/tree/root_node.rb:39:in `css_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.10/lib/sass/tree/root_node.rb:20:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.10/lib/sass/engine.rb:268:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.10/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/compass-1.1.0.alpha.3/lib/compass/sass_compiler.rb:40:in `compile!'
/Library/Ruby/Gems/2.0.0/gems/compass-1.1.0.alpha.3/lib/compass/commands/update_project.rb:49:in `perform'
/Library/Ruby/Gems/2.0.0/gems/compass-1.1.0.alpha.3/lib/compass/commands/base.rb:18:in `execute'
/Library/Ruby/Gems/2.0.0/gems/compass-1.1.0.alpha.3/lib/compass/commands/project_base.rb:19:in `execute'
/Library/Ruby/Gems/2.0.0/gems/compass-1.1.0.alpha.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Library/Ruby/Gems/2.0.0/gems/compass-1.1.0.alpha.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Library/Ruby/Gems/2.0.0/gems/compass-1.1.0.alpha.3/bin/compass:30:in `block in <top (required)>'
/Library/Ruby/Gems/2.0.0/gems/compass-1.1.0.alpha.3/bin/compass:44:in `call'
/Library/Ruby/Gems/2.0.0/gems/compass-1.1.0.alpha.3/bin/compass:44:in `<top (required)>'
/usr/bin/compass:23:in `load'
/usr/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: \"#myCoolItem\" failed to @extend \".default-grid\".\A The selector \".default-grid\" was not found.\A Use \"@extend .default-grid !optional\" if the extend should be able to fail.\A "; }
