.not-visible, .not-visible-mobile, .visible, .visible-mobile, .show, .show-mobile, .hide, .hide-mobile {
  content: "your css...";
}
.state-mobile .not-visible, .state-mobile .not-visible-mobile, .state-mobile .visible, .state-mobile .visible-mobile, .state-mobile .show, .state-mobile .show-mobile, .state-mobile .hide, .state-mobile .hide-mobile {
  content: "you can even use the gridle_state mixin etc...";
}
@media screen and (max-width: 480px) {
  .not-visible, .not-visible-mobile, .visible, .visible-mobile, .show, .show-mobile, .hide, .hide-mobile {
    content: "you can even use the gridle_state mixin etc...";
  }
}

.grid-12 {
  width: 100%;
}
.grid-row, .grid-row-set {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.grid-row:before, .grid-row-set:before, .grid-row:after, .grid-row-set:after {
  content: "";
  display: table;
}
.grid-row:after, .grid-row-set:after {
  clear: both;
}
.grid-row, .grid-row-set {
  zoom: 1;
}

.state-default .grid-row-set {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.state-default .grid-row-set:before, .state-default .grid-row-set:after {
  content: "";
  display: table;
}
.state-default .grid-row-set:after {
  clear: both;
}
.state-default .grid-row-set {
  zoom: 1;
}
.grid-12, .grid-1on5, .grid-12-on-100, .grid-30-on-100-on-mobile-and-tablet, .gridle-state, .gridle-set, .gridle-set-multiple {
  display: inline-block;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  direction: ltr;
  padding-left: 10px;
  padding-right: 10px;
}

.state-default .gridle-set, .state-default .gridle-set-multiple {
  display: inline-block;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  direction: ltr;
  padding-left: 10px;
  padding-right: 10px;
}
.push-6, .push-set, .push-nested, .gridle-set {
  position: relative;
}

.state-default .push-set, .state-default .gridle-set {
  position: relative;
}
.pull-6, .pull-set, .pull-nested {
  position: relative;
}

.state-default .pull-set {
  position: relative;
}
.centered {
  display: block !important;
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
  clear: both !important;
}

@media screen and (max-width: 480px) {
  .grid-15-on-100-on-mobile, .grid-30-on-100-on-mobile-and-tablet, .gridle-state, .gridle-set, .gridle-set-multiple {
    display: inline-block;
    min-height: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    direction: ltr;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.state-mobile .grid-15-on-100-on-mobile, .state-mobile .grid-30-on-100-on-mobile-and-tablet, .state-mobile .gridle-state, .state-mobile .gridle-set, .state-mobile .gridle-set-multiple {
  display: inline-block;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  direction: ltr;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (max-width: 480px) {
  .push-12-mobile, .push-nested, .gridle-set {
    position: relative;
  }
}
.state-mobile .push-12-mobile, .state-mobile .push-nested, .state-mobile .gridle-set {
  position: relative;
}
@media screen and (max-width: 480px) {
  .pull-12-mobile, .pull-nested, .gridle-set {
    position: relative;
  }
}
.state-mobile .pull-12-mobile, .state-mobile .pull-nested, .state-mobile .gridle-set {
  position: relative;
}
@media screen and (max-width: 480px) {
  .centered-mobile {
    display: block !important;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    clear: both !important;
  }
}
.state-mobile .centered-mobile {
  display: block !important;
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
  clear: both !important;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .grid-30-on-100-on-mobile-and-tablet, .gridle-state, .gridle-set, .gridle-set-multiple {
    display: inline-block;
    min-height: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    direction: ltr;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.state-tablet .grid-30-on-100-on-mobile-and-tablet, .state-tablet .gridle-state, .state-tablet .gridle-set, .state-tablet .gridle-set-multiple {
  display: inline-block;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  direction: ltr;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .gridle-set {
    position: relative;
  }
}
.state-tablet .gridle-set {
  position: relative;
}
.state-ipad-landscape .grid-12 {
  padding-left: 50px;
  padding-right: 50px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .grid-12 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.grid-1on5 {
  width: 20%;
}
.state-ipad-landscape .grid-1on5 {
  padding-left: 50px;
  padding-right: 50px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .grid-1on5 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.grid-12-on-100 {
  width: 12%;
}
.state-ipad-landscape .grid-12-on-100 {
  padding-left: 50px;
  padding-right: 50px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .grid-12-on-100 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.state-mobile .grid-15-on-100-on-mobile {
  width: 15%;
}
@media screen and (max-width: 480px) {
  .grid-15-on-100-on-mobile {
    width: 15%;
  }
}
.state-ipad-landscape .grid-15-on-100-on-mobile {
  padding-left: 50px;
  padding-right: 50px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .grid-15-on-100-on-mobile {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.grid-30-on-100-on-mobile-and-tablet {
  width: 30%;
}
.state-ipad-landscape .grid-30-on-100-on-mobile-and-tablet {
  padding-left: 50px;
  padding-right: 50px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .grid-30-on-100-on-mobile-and-tablet {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.state-mobile .grid-30-on-100-on-mobile-and-tablet {
  width: 30%;
}
@media screen and (max-width: 480px) {
  .grid-30-on-100-on-mobile-and-tablet {
    width: 30%;
  }
}
.state-ipad-landscape .grid-30-on-100-on-mobile-and-tablet {
  padding-left: 50px;
  padding-right: 50px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .grid-30-on-100-on-mobile-and-tablet {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.state-tablet .grid-30-on-100-on-mobile-and-tablet {
  width: 30%;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .grid-30-on-100-on-mobile-and-tablet {
    width: 30%;
  }
}
.state-ipad-landscape .grid-30-on-100-on-mobile-and-tablet {
  padding-left: 50px;
  padding-right: 50px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .grid-30-on-100-on-mobile-and-tablet {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.grid-row {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.grid-row-set {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.state-default .grid-row-set {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.clear-each-2 > *:nth-child(2n+1) {
  clear: both;
}

.clear-each-2-left > *:nth-child(2n+1) {
  clear: left;
}

.state-mobile .clear-each-2-left-mobile > *:nth-child(2n+1) {
  clear: left;
}
@media screen and (max-width: 480px) {
  .clear-each-2-left-mobile > *:nth-child(2n+1) {
    clear: left;
  }
}

.state-default .clear-each-2-set > *:nth-child(2n+1) {
  clear: left;
}
.clear-each-2-set > *:nth-child(2n+1) {
  clear: left;
}

.gutter-width {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-top: 10px;
  padding-left: 10px;
}

.gutter-width-set {
  padding-left: 50px;
  padding-right: 50px;
  content: "multple values";
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 50px;
  content: "multiple sides";
  padding-top: 10px;
  padding-left: 10px;
}
.state-default .gutter-width-set {
  padding-left: 50px;
  padding-right: 50px;
}
.state-default .gutter-width-set {
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 50px;
}
.state-default .gutter-width-set {
  padding-top: 10px;
  padding-left: 10px;
}
.state-mobile .gutter-width-set {
  padding-left: 50px;
  padding-right: 50px;
}
@media screen and (max-width: 480px) {
  .gutter-width-set {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.align-left {
  text-align: left;
}
.align-left > * {
  text-align: left;
}

.align-center {
  text-align: center;
}
.align-center > * {
  text-align: left;
}

.align-right {
  text-align: right;
}
.align-right > * {
  text-align: left;
}

.align-top {
  font-size: 0;
  clear: both;
}
.align-top > * {
  display: inline-block;
  float: none !important;
  vertical-align: top;
  font-size: 1rem;
}

.align-middle {
  font-size: 0;
  clear: both;
}
.align-middle > * {
  display: inline-block;
  float: none !important;
  vertical-align: middle;
  font-size: 1rem;
}

.align-bottom {
  font-size: 0;
  clear: both;
}
.align-bottom > * {
  display: inline-block;
  float: none !important;
  vertical-align: bottom;
  font-size: 1rem;
}

.push-6 {
  left: 50.0%;
}

.state-mobile .push-12-mobile {
  left: 100.0%;
}
@media screen and (max-width: 480px) {
  .push-12-mobile {
    left: 100.0%;
  }
}

.push-set {
  left: 25.0%;
}
.state-default .push-set {
  left: 25.0%;
}

.push-nested {
  left: 25.0%;
}
.state-mobile .push-nested {
  left: 0%;
}
@media screen and (max-width: 480px) {
  .push-nested {
    left: 0%;
  }
}

.pull-6 {
  right: 50.0%;
}

.state-mobile .pull-12-mobile {
  right: 100.0%;
}
@media screen and (max-width: 480px) {
  .pull-12-mobile {
    right: 100.0%;
  }
}

.pull-set {
  right: 25.0%;
}
.state-default .pull-set {
  right: 25.0%;
}

.pull-nested {
  right: 25.0%;
}
.state-mobile .pull-nested {
  right: 0%;
}
@media screen and (max-width: 480px) {
  .pull-nested {
    right: 0%;
  }
}

.prefix-6 {
  margin-left: 50.0%;
}

.state-mobile .prefix-12-mobile {
  margin-left: 100.0%;
}
@media screen and (max-width: 480px) {
  .prefix-12-mobile {
    margin-left: 100.0%;
  }
}

.prefix-set {
  margin-left: 25.0%;
}
.state-default .prefix-set {
  margin-left: 25.0%;
}

.prefix-nested {
  margin-left: 25.0%;
}
.state-mobile .prefix-nested {
  margin-left: 0%;
}
@media screen and (max-width: 480px) {
  .prefix-nested {
    margin-left: 0%;
  }
}

.suffix-6 {
  margin-right: 50.0%;
}

.state-mobile .suffix-12-mobile {
  margin-right: 100.0%;
}
@media screen and (max-width: 480px) {
  .suffix-12-mobile {
    margin-right: 100.0%;
  }
}

.suffix-set {
  margin-right: 25.0%;
}
.state-default .suffix-set {
  margin-right: 25.0%;
}

.pull-suffix {
  margin-right: 25.0%;
}
.state-mobile .pull-suffix {
  margin-right: 0%;
}
@media screen and (max-width: 480px) {
  .pull-suffix {
    margin-right: 0%;
  }
}

.hide {
  display: none;
}

.state-mobile .hide-mobile {
  display: none;
}
@media screen and (max-width: 480px) {
  .hide-mobile {
    display: none;
  }
}

.hide-set {
  display: none;
}
.state-default .hide-set {
  display: none;
}

.show {
  display: block;
}

.state-mobile .show-mobile {
  display: block;
}
@media screen and (max-width: 480px) {
  .show-mobile {
    display: block;
  }
}

.show-set {
  display: none;
}
.state-default .show-set {
  display: none;
}

.show_inline {
  display: inline-block;
}

.state-mobile .show_inline-mobile {
  display: inline-block;
}
@media screen and (max-width: 480px) {
  .show_inline-mobile {
    display: inline-block;
  }
}

.show_inline-set {
  display: inline-block;
}
.state-default .show_inline-set {
  display: inline-block;
}

.not_visible {
  visibility: hidden;
}

.state-mobile .not_visible-mobile {
  visibility: hidden;
}
@media screen and (max-width: 480px) {
  .not_visible-mobile {
    visibility: hidden;
  }
}

.not_visible-set {
  visibility: hidden;
}
.state-default .not_visible-set {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.state-mobile .visible-mobile {
  visibility: visible;
}
@media screen and (max-width: 480px) {
  .visible-mobile {
    visibility: visible;
  }
}

.visible-set {
  visibility: hidden;
}
.state-default .visible-set {
  visibility: hidden;
}

.gridle-state {
  background: red;
  width: 66.66667%;
}
.state-ipad-landscape .gridle-state {
  padding-left: 50px;
  padding-right: 50px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .gridle-state {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.state-mobile .gridle-state {
  background: pink;
  width: 100%;
}
.state-ipad-landscape .state-mobile .gridle-state {
  padding-left: 50px;
  padding-right: 50px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .state-mobile .gridle-state {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 480px) {
  .gridle-state {
    background: pink;
    width: 100%;
  }
}
.state-ipad-landscape .gridle-state {
  padding-left: 50px;
  padding-right: 50px;
}
@media only screen and (max-width: 480px) and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .gridle-state {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.state-tablet .gridle-state {
  background: pink;
  width: 100%;
}
.state-ipad-landscape .state-tablet .gridle-state {
  padding-left: 50px;
  padding-right: 50px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .state-tablet .gridle-state {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .gridle-state {
    background: pink;
    width: 100%;
  }
}
.state-ipad-landscape .gridle-state {
  padding-left: 50px;
  padding-right: 50px;
}
@media only screen and (min-width: 481px) and (max-width: 1024px) and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .gridle-state {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.state-ukbsd4ku3 .gridle-state {
  background: yellow;
  width: 83.33333%;
}
.state-ipad-landscape .state-ukbsd4ku3 .gridle-state {
  padding-left: 50px;
  padding-right: 50px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .state-ukbsd4ku3 .gridle-state {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media only print {
  .gridle-state {
    background: yellow;
    width: 83.33333%;
  }
}
.state-ipad-landscape .gridle-state {
  padding-left: 50px;
  padding-right: 50px;
}
.state-ukbsd4kvk .gridle-state {
  background: green;
  width: 41.66667%;
}
.state-ipad-landscape .state-ukbsd4kvk .gridle-state {
  padding-left: 50px;
  padding-right: 50px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .state-ukbsd4kvk .gridle-state {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 200px) {
  .gridle-state {
    background: green;
    width: 41.66667%;
  }
}
.state-ipad-landscape .gridle-state {
  padding-left: 50px;
  padding-right: 50px;
}
@media only screen and (max-width: 200px) and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .gridle-state {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.state-ukbsd4kxo .gridle-state {
  content: "ad hoc state";
  background: white;
  width: 25%;
}
.state-ipad-landscape .state-ukbsd4kxo .gridle-state {
  padding-left: 50px;
  padding-right: 50px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .state-ukbsd4kxo .gridle-state {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (min-width: 200px) and (max-width: 600px) {
  .gridle-state {
    content: "ad hoc state";
    background: white;
    width: 25%;
  }
}
.state-ipad-landscape .gridle-state {
  padding-left: 50px;
  padding-right: 50px;
}
@media only screen and (min-width: 200px) and (max-width: 600px) and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .gridle-state {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.gridle-set {
  width: 50%;
  left: 16.66667%;
  clear: left;
}
.state-default .gridle-set {
  width: 50%;
}
.state-ipad-landscape .gridle-set {
  padding-left: 50px;
  padding-right: 50px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .gridle-set {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.state-default .gridle-set {
  left: 16.66667%;
}
.state-tablet .gridle-set {
  width: 66.66667%;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .gridle-set {
    width: 66.66667%;
  }
}
.state-ipad-landscape .gridle-set {
  padding-left: 50px;
  padding-right: 50px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .gridle-set {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.state-tablet .gridle-set {
  left: 0%;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .gridle-set {
    left: 0%;
  }
}
.state-default .gridle-set {
  clear: left;
}
.state-mobile .gridle-set {
  width: 100%;
}
@media screen and (max-width: 480px) {
  .gridle-set {
    width: 100%;
  }
}
.state-ipad-landscape .gridle-set {
  padding-left: 50px;
  padding-right: 50px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .gridle-set {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.state-mobile .gridle-set {
  left: 0%;
}
@media screen and (max-width: 480px) {
  .gridle-set {
    left: 0%;
  }
}
.state-mobile .gridle-set {
  right: 0%;
}
@media screen and (max-width: 480px) {
  .gridle-set {
    right: 0%;
  }
}

.gridle-set-multiple {
  width: 50%;
}
.state-default .gridle-set-multiple {
  width: 50%;
}
.state-ipad-landscape .gridle-set-multiple {
  padding-left: 50px;
  padding-right: 50px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .gridle-set-multiple {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.state-mobile .gridle-set-multiple {
  width: 100%;
}
@media screen and (max-width: 480px) {
  .gridle-set-multiple {
    width: 100%;
  }
}
.state-ipad-landscape .gridle-set-multiple {
  padding-left: 50px;
  padding-right: 50px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .gridle-set-multiple {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.state-tablet .gridle-set-multiple {
  width: 100%;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .gridle-set-multiple {
    width: 100%;
  }
}
.state-ipad-landscape .gridle-set-multiple {
  padding-left: 50px;
  padding-right: 50px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .gridle-set-multiple {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.float-right {
  float: right;
}

.state-mobile .float-left-mobile {
  float: left;
}
@media screen and (max-width: 480px) {
  .float-left-mobile {
    float: left;
  }
}

.float-set {
  float: right;
}
.state-default .float-set {
  float: right;
}

.clear {
  clear: both;
}

.state-mobile .clear-left-mobile {
  clear: left;
}
@media screen and (max-width: 480px) {
  .clear-left-mobile {
    clear: left;
  }
}

.clear-set {
  clear: left;
}
.state-default .clear-set {
  clear: left;
}

.gutters {
  padding-left: 10px;
  padding-right: 10px;
}

.gutters-left {
  padding-left: 10px;
}

.state-mobile .gutters-side-mobile {
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (max-width: 480px) {
  .gutters-side-mobile {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.no-gutter {
  padding-left: 0;
  padding-right: 0;
}

.no-gutter-left {
  padding-left: 0;
}

.state-mobile .no-gutter-side-mobile {
  padding-left: 0;
  padding-right: 0;
}
@media screen and (max-width: 480px) {
  .no-gutter-side-mobile {
    padding-left: 0;
    padding-right: 0;
  }
}

.gridle_get_states_count {
  content: 4;
}

.gridle_get_column_width {
  content: 8.33333%;
}

.gridle_get_column_width-mobile {
  content: 8.33333%;
}

.gridle_get_column_width-2 {
  content: 16.66667%;
}

.gridle_get_state {
  content: '(name: mobile, min-width: null, max-width: 480px, query: null, classes: true, context: 12, gutter-width: 20px, direction: ltr, name-multiplicator: 1, debug: false, debug-show-class-names: true, class-separator: "-", states-classes: true, generate-push-classes: true, generate-pull-classes: true, generate-prefix-classes: true, generate-suffix-classes: true, generate-helpers-classes: true)';
}

.gridle_get_state-custom {
  content: '(name: ukbsd4kzb, min-width: 200px, max-width: 600px, query: null, classes: true, context: 12, gutter-width: 20px, direction: ltr, name-multiplicator: 1, debug: false, debug-show-class-names: true, class-separator: "-", states-classes: true, generate-push-classes: true, generate-pull-classes: true, generate-prefix-classes: true, generate-suffix-classes: true, generate-helpers-classes: true)';
}

.gridle_has_state-mobile {
  content: true;
}

.gridle_has_state-coco {
  content: false;
}

.gridle_get_state_var-context-mobile {
  content: 12;
}

.gridle_set_state_var {
  content: (name: coucou, min-width: null, max-width: 480px, query: null, classes: true, context: 12, gutter-width: 20px, direction: ltr, name-multiplicator: 1, debug: false, debug-show-class-names: true, class-separator: "-", states-classes: true, generate-push-classes: true, generate-pull-classes: true, generate-prefix-classes: true, generate-suffix-classes: true, generate-helpers-classes: true);
}
