.not-visible, .not-visible\@mobile, .visible, .visible\@mobile, .show, .show\@mobile, .hide, .hide\@mobile {
  content: "your css...";
}
@media screen and (max-width: 480px) {
  .not-visible, .not-visible\@mobile, .visible, .visible\@mobile, .show, .show\@mobile, .hide, .hide\@mobile {
    content: "you can even use the gridle_state mixin etc...";
  }
}

.grid-12 {
  width: 100%;
  display: inline-block;
}
.grid-row:before, .grid-row-set:before, .grid-row:after, .grid-row-set:after {
  content: "";
  display: table;
}
.grid-row:after, .grid-row-set:after {
  clear: both;
}
.grid-row, .grid-row-set {
  zoom: 1;
}

.grid-12, .grid-1on5, .grid-12-on-100, .grid-30-on-100-on-mobile-and-tablet, .gridle-state, .gridle-set, .gridle-set-multiple {
  display: inline-block;
  min-height: 1px;
  float: left;
  direction: ltr;
  padding-right: 10px;
  padding-left: 10px;
  content: i extend the grid class;
}

.push-6, .push-set, .push-nested, .gridle-set {
  position: relative;
}

.pull-6, .pull-set, .pull-nested {
  position: relative;
}

.centered {
  display: block !important;
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
  clear: both !important;
}

@media screen and (max-width: 480px) {
  .grid-15-on-100-on-mobile, .grid-30-on-100-on-mobile-and-tablet, .gridle-state, .gridle-set, .gridle-set-multiple {
    display: inline-block;
    min-height: 1px;
    float: left;
    direction: ltr;
    padding-right: 10px;
    padding-left: 10px;
    content: i extend the grid class;
  }
}
@media screen and (max-width: 480px) {
  .push-12-mobile, .push-nested, .gridle-set {
    position: relative;
  }
}
@media screen and (max-width: 480px) {
  .pull-12-mobile, .pull-nested, .gridle-set {
    position: relative;
  }
}
@media screen and (max-width: 480px) {
  .centered-mobile {
    display: block !important;
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    clear: both !important;
  }
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .grid-30-on-100-on-mobile-and-tablet, .gridle-state, .gridle-set, .gridle-set-multiple {
    display: inline-block;
    min-height: 1px;
    float: left;
    direction: ltr;
    padding-right: 10px;
    padding-left: 10px;
    content: i extend the grid class;
  }
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .gridle-set {
    position: relative;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .grid-12 {
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 15px;
  }
}

.grid-1on5 {
  width: 20%;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .grid-1on5 {
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 15px;
  }
}

.grid-12-on-100 {
  width: 12%;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .grid-12-on-100 {
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 15px;
  }
}

@media screen and (max-width: 480px) {
  .grid-15-on-100-on-mobile {
    width: 15%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .grid-15-on-100-on-mobile {
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 15px;
  }
}

.grid-30-on-100-on-mobile-and-tablet {
  width: 30%;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .grid-30-on-100-on-mobile-and-tablet {
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 15px;
  }
}
@media screen and (max-width: 480px) {
  .grid-30-on-100-on-mobile-and-tablet {
    width: 30%;
  }
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .grid-30-on-100-on-mobile-and-tablet {
    width: 30%;
  }
}

.grid-row {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.grid-row-set {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.clear-each-2 > *:nth-child(2n+1) {
  clear: both;
}

.clear-each-2-left > *:nth-child(2n+1) {
  clear: left;
}

@media screen and (max-width: 480px) {
  .clear-each-2-left-mobile > *:nth-child(2n+1) {
    clear: left;
  }
}

.gutter-width {
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-left: 10px;
}

.gutter-width-set {
  padding-right: 50px;
  padding-left: 50px;
  content: "multple values";
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 50px;
  content: "multiple sides";
  padding-left: 10px;
}
@media screen and (max-width: 480px) {
  .gutter-width-set {
    padding-right: 50px;
    padding-left: 50px;
  }
}

.align-left {
  font-size: 0;
  clear: both;
  text-align: left;
}
.align-left > * {
  float: none !important;
  vertical-align: left;
  font-size: 1rem;
}

.align-center {
  font-size: 0;
  clear: both;
  text-align: center;
}
.align-center > * {
  float: none !important;
  vertical-align: center;
  font-size: 1rem;
}
.align-center > * {
  text-align: left;
}

.align-right {
  font-size: 0;
  clear: both;
  text-align: right;
}
.align-right > * {
  float: none !important;
  vertical-align: right;
  font-size: 1rem;
}
.align-right > * {
  text-align: left;
}

.align-top {
  font-size: 0;
  clear: both;
  vertical-align: top;
}
.align-top > * {
  float: none !important;
  vertical-align: top;
  font-size: 1rem;
}

.align-middle {
  font-size: 0;
  clear: both;
  vertical-align: middle;
}
.align-middle > * {
  float: none !important;
  vertical-align: middle;
  font-size: 1rem;
}

.align-bottom {
  font-size: 0;
  clear: both;
  vertical-align: bottom;
}
.align-bottom > * {
  float: none !important;
  vertical-align: bottom;
  font-size: 1rem;
}

.push-6 {
  left: 50.0%;
}

@media screen and (max-width: 480px) {
  .push-12-mobile {
    left: 100.0%;
  }
}

.push-set {
  left: 25.0%;
}

.push-nested {
  left: 25.0%;
}
@media screen and (max-width: 480px) {
  .push-nested {
    left: 0%;
  }
}

.pull-6 {
  right: 50.0%;
}

@media screen and (max-width: 480px) {
  .pull-12-mobile {
    right: 100.0%;
  }
}

.pull-set {
  right: 25.0%;
}

.pull-nested {
  right: 25.0%;
}
@media screen and (max-width: 480px) {
  .pull-nested {
    right: 0%;
  }
}

.prefix-6 {
  margin-left: 50.0%;
}

@media screen and (max-width: 480px) {
  .prefix-12-mobile {
    margin-left: 100.0%;
  }
}

.prefix-set {
  margin-left: 25.0%;
}

.prefix-nested {
  margin-left: 25.0%;
}
@media screen and (max-width: 480px) {
  .prefix-nested {
    margin-left: 0%;
  }
}

.suffix-6 {
  margin-right: 50.0%;
}

@media screen and (max-width: 480px) {
  .suffix-12-mobile {
    margin-right: 100.0%;
  }
}

.suffix-set {
  margin-right: 25.0%;
}

.pull-suffix {
  margin-right: 25.0%;
}
@media screen and (max-width: 480px) {
  .pull-suffix {
    margin-right: 0%;
  }
}

.hide {
  display: none;
}

@media screen and (max-width: 480px) {
  .hide-mobile {
    display: none;
  }
}

.hide-set {
  display: none;
}

.show {
  display: block;
}

@media screen and (max-width: 480px) {
  .show-mobile {
    display: block;
  }
}

.show-set {
  display: none;
}

.show_inline {
  display: inline-block;
}

@media screen and (max-width: 480px) {
  .show_inline-mobile {
    display: inline-block;
  }
}

.show_inline-set {
  display: inline-block;
}

.not_visible {
  visibility: hidden;
}

@media screen and (max-width: 480px) {
  .not_visible-mobile {
    visibility: hidden;
  }
}

.not_visible-set {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

@media screen and (max-width: 480px) {
  .visible-mobile {
    visibility: visible;
  }
}

.visible-set {
  visibility: hidden;
}

.gridle-state {
  background: red;
  width: 66.66667%;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .gridle-state {
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 15px;
  }
}
@media screen and (max-width: 480px) {
  .gridle-state {
    background: pink;
    width: 100%;
    display: inline-block;
  }
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .gridle-state {
    background: pink;
    width: 100%;
    display: inline-block;
  }
}
@media only print {
  .gridle-state {
    background: yellow;
    width: 83.33333%;
  }
}
@media screen and (max-width: 200px) {
  .gridle-state {
    background: green;
    width: 41.66667%;
  }
}
@media screen and (min-width: 200px) and (max-width: 600px) {
  .gridle-state {
    content: "ad hoc state";
    background: white;
    width: 25%;
  }
}

.gridle-set {
  width: 50%;
  left: 16.66667%;
  clear: left;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .gridle-set {
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 15px;
  }
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .gridle-set {
    width: 66.66667%;
    left: 0%;
  }
}
@media screen and (max-width: 480px) {
  .gridle-set {
    width: 100%;
    display: inline-block;
    left: 0%;
    right: 0%;
  }
}

.gridle-set-multiple {
  width: 50%;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .gridle-set-multiple {
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-left: 15px;
  }
}
@media screen and (max-width: 480px) {
  .gridle-set-multiple {
    width: 100%;
    display: inline-block;
  }
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .gridle-set-multiple {
    width: 100%;
    display: inline-block;
  }
}

.float-right {
  float: right;
}

@media screen and (max-width: 480px) {
  .float-left-mobile {
    float: left;
  }
}

.float-set {
  float: right;
}

.clear {
  clear: both;
}

@media screen and (max-width: 480px) {
  .clear-left-mobile {
    clear: left;
  }
}

.clear-set {
  clear: left;
}

.gutters {
  padding-right: 10px;
  padding-left: 10px;
}

.gutters-left {
  padding-left: 10px;
}

@media screen and (max-width: 480px) {
  .gutters-side-mobile {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.no-gutter {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.no-gutter-left {
  padding-left: 0;
}

@media screen and (max-width: 480px) {
  .no-gutter-side-mobile {
    padding-left: 0;
    padding-right: 0;
  }
}

.gridle_get_states_count {
  content: 4;
}

.gridle_get_column_width {
  content: 8.33333%;
}

.gridle_get_column_width-mobile {
  content: 8.33333%;
}

.gridle_get_column_width-2 {
  content: 16.66667%;
}

.gridle_get_state {
  content: "(name: mobile, min-width: null, max-width: 480px, query: null, classes: true, context: 12, gutter-width: 20px, gutter-height: 0, gutter-top: 0, gutter-right: 10px, gutter-bottom: 0, gutter-left: 10px, direction: ltr, name-multiplicator: 1, states-classes: false)";
}

.gridle_get_state-custom {
  content: "(name: ua9ju7q7y, min-width: 200px, max-width: 600px, query: null, classes: true, context: 12, gutter-width: 20px, gutter-height: 0, gutter-top: 0, gutter-right: 10px, gutter-bottom: 0, gutter-left: 10px, direction: ltr, name-multiplicator: 1, states-classes: false)";
}

.gridle_has_state-mobile {
  content: true;
}

.gridle_has_state-coco {
  content: false;
}

.gridle_get_state_var-context-mobile {
  content: 12;
}

.gridle_set_state_var {
  content: (name: coucou, min-width: null, max-width: 480px, query: null, classes: true, context: 12, gutter-width: 20px, gutter-height: 0, gutter-top: 0, gutter-right: 10px, gutter-bottom: 0, gutter-left: 10px, direction: ltr, name-multiplicator: 1, states-classes: false);
}
