/**
 * Variables
 */
$primary-color : #eaedef;
$green : #eeefea;

$braun : #999588;
$orange : #f2ca2b;

$title : #3b3b3b;
$text : #b1b1b1;

$light : #f6f6f6;
$medium : #999588;
$dark : #605d54;

$footer-dark : #266778;

$complementary : #f2ca2b;

$error : #d39c7b;
$success : #ced37b;

$green : #e5f382;
$blue : #5aecf1;
$red : #ee243c;

$new : #ffb554; 