@import "grid-settings";

.state-gutter {
	@include gridle_state((
		max-width : 300px,
		gutter-width : 333px
	)) {
		@include gridle(3 gutter left right);
		content : #{gridle_get_state_var(name)};
	}
}