/**
 * Imports :
 */
@import 'compass/reset';
@import 'compass/css3';

/**
 * Import grid settings :
 * This to be able to use gridle mixins, etc...
 */
@import 'grid-settings';

$base-font-size : 16px;
$base-line-height : 24px;

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@mixin font-size(
	$size : $base-font-size,
	$grid-bottom : 1,
	$grid-top : null,
	$substract : null
) {
	// stip units :
	$size : strip-unit($size);
	$line-height : strip-unit($base-line-height);

	@if $substract {
		$substract : strip-unit($substract);
	} @else {
		$substract : 0;
	}

	// font size :
	font-size: 0px + $size;
	font-size: $size / strip-unit($base-font-size) +rem;
	
	line-height: $line-height / ($size - $substract) * 1000 / 1000;
	
	margin-bottom: (0px + $line-height) * $grid-bottom;
	margin-bottom: ($line-height / strip-unit($base-font-size)) * $grid-bottom +rem;
	
	@if $grid-top {
		margin-top: (0px + $line-height) * $grid-top;
		margin-top: ($line-height / strip-unit($base-font-size)) * $grid-top +rem;
	}


}

@mixin vertical_rythme_background(
	$font-size : $base-font-size,
	$line-height : $base-line-height
) {

	$h : (strip-unit($line-height) / strip-unit($font-size))+rem;
	background: linear-gradient(to bottom, rgba(0,0,0,.2) .01rem, transparent .1rem ) !important;
	background-size: 100% $h !important;
}

@mixin rythme_image(
	$grid : 10,
	$grid-bottom : 1,
	$grid-top : null
) {
	$line-height : strip-unit($base-line-height);
	height : (0px + $line-height) * $grid;
	height : ($line-height / strip-unit($base-font-size)) * $grid +rem;
	max-width : 100%;
	overflow:hidden;
	position:relative;

	margin-bottom: (0px + $line-height) * $grid-bottom;
	margin-bottom: ($line-height / strip-unit($base-font-size)) * $grid-bottom +rem;

	@if $grid-top {
		margin-top: (0px + $line-height) * $grid-top;
		margin-top: ($line-height / strip-unit($base-font-size)) * $grid-top +rem;
	}

	img {
		min-width:100%;
		min-height:100%;
		position:absolute;
		top:50%; left:50%;
		@include transform(translateX(-50%) translateY(-50%)); 
	}
}

/**
 * Basic formatting :
 */
html {
	font-size : $base-font-size;
}
body {
	// font:11px/1.5 'Helvetica Neue', Verdana, sans-serif;
	@include font-size(12);
	@include vertical_rythme_background();
	
}


/**
 * Layout :
 */
#header {
	@include gridle(12);
}
#content {
	@include gridle(8);
	@include gridle(12,mobile);
}
#sidebar {
	@include gridle(4);
	@include gridle(12,mobile);
}
#footer {
	@include gridle(12);
}


/**
 * Text styling :
 */
p {
	@include font-size(20,1);
}
.page-title {
	@include font-size(80,0,3);
}
.page-subtitle {
	@include font-size(40,3,1);
}
.title {
	@include font-size(30,0);
	// border-bottom:1px solid red;
}
.subtitle {
	@include font-size(12,1);
	color:#888;

	.title ~ & {
		@include font-size(12,1);
	}
}
.img-container {
	@include rythme_image(10);
	@include gridle_state(tablet) {
		@include rythme_image(5);
	}
}
#sidebar {
	.img-container {
		@include rythme_image(6);
		@include gridle_state(tablet) {
			@include rythme_image(4);
		}
	}	
}
