// |------------------------------------------------------
// |------------------------------------------------------
// | Default states
// |------------------------------------------------------
// |------------------------------------------------------

@if $gridle-default-states {
	// retina
	@include g-register-state("retina", (
		query : "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)",
		classes : false
	) );

	// tv
	@include g-register-state("tv", (
		query : "only tv",
		classes : false
	) );

	// print
	@include g-register-state("print", (
		query : "only print",
		classes : false
	) );

	// portrait
	@include g-register-state("portrait", (
		query : "only screen and (orientation: portrait)",
		classes : false
	) );

	// landscape
	@include g-register-state("landscape", (
		query : "only screen and (orientation: landscape)",
		classes : false
	) );
}
