// |------------------------------------------------------
// |------------------------------------------------------
// | Version
// |------------------------------------------------------
// |------------------------------------------------------

$_g-version : "3.0.1";




// |------------------------------------------------------
// |------------------------------------------------------
// | Variables
// |------------------------------------------------------
// |------------------------------------------------------

$_g-names-tokens : (
	column								: true, // will be the columns names
	column-count 						: true, // will represent the column index (1,2,3,...)
	align 								: left center right top middle bottom around between,
	float 								: left right both,
	count 								: true, // will represent a certain count
	side 								: top right bottom left null,
	reverse 							: '' reverse,
	state 								: true // is a valid pattern
);
$_g-names-separators : ('-','--','_','__','@');	// all the allowed separators
$_g-is-in-generate-phase : false; 			// keep track if we are in generate phase or not anymore
$_g-inited : false;						// keep track if gridle has been inited (silent classes, etc..) or not
$_g-settings : (); 						// the default settings
$_g-states : ();							// the variable map for each states
$_g-clear-classes : (); 					// store each automatic clear count
$_g-columns : (); 							// store the registered special columns
$_g-extend-base-classes : (); 				// save the rules that will extend the default gridle onces
$_g-apply-css-for : (); 					// save the rules that will be applied for each states on a specified gridle mixin type

$_g-current-state : ();					// save the current state
$_g-current-stateName : default; 			// save the current state name
$_g-previous-state : (); 					// save the previous state
$_g-previous-stateName : default; 			// save the previous state name

$_g-content-arg-state : null; 					// this variable is used to pass state through global variable into an @content

$g-scope : (); 					        // Variable scope used in mixin like `g-generate-custom-class`



// |------------------------------------------------------
// |------------------------------------------------------
// | Vendors
// |------------------------------------------------------
// |------------------------------------------------------

@import 'flexbox';
@import 'utils';




// |------------------------------------------------------
// |------------------------------------------------------
// | Settings
// |------------------------------------------------------
// |------------------------------------------------------

@import 'settings';




// |------------------------------------------------------
// |------------------------------------------------------
// | Functions
// |------------------------------------------------------
// |------------------------------------------------------

@import 'functions';




// |------------------------------------------------------
// |------------------------------------------------------
// | Settings mixins
// |------------------------------------------------------
// |------------------------------------------------------

@import 'settings-mixins';




// |------------------------------------------------------
// |------------------------------------------------------
// | Mixins
// |------------------------------------------------------
// |------------------------------------------------------

@import 'mixins';




// |------------------------------------------------------
// |------------------------------------------------------
// | Api
// |------------------------------------------------------
// |------------------------------------------------------

@import 'api';




// |------------------------------------------------------
// |------------------------------------------------------
// | Generate mixins
// |------------------------------------------------------
// |------------------------------------------------------

@import 'generate-mixins';
