// |------------------------------------------------------
// |------------------------------------------------------
// | Common mixins
// |------------------------------------------------------
// |------------------------------------------------------

@mixin _gridle_common_container(
	$state : default
) {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


//
// Flex row
//
@mixin _gridle_common_flex_row(
	$state : default
) {
	@include flexbox;
	@include flex-wrap(wrap);
	@include flex(0 1 auto);
}


//
// Flex col
//
@mixin _gridle_common_flex_col(
	$state : default
) {
	@include flexbox;
	@include flex(0 1 auto);
}


//
// Flex grid
//
@mixin _gridle_common_flex_grid(
	$state : default
) {
	// vars
	$direction : gridle_get_state_var(direction, $state);
	$classes : gridle_get_state_var(classes, $state);
	$gutter-width : gridle_get_state_var(gutter-width, $state);
	
	// css
	@include flexbox;
	@include flex(1,1,auto);
	@include flex-direction(column); // reset direction for inner elements
	padding-right: $gutter-width * .5;
	padding-left: $gutter-width * .5;
}


//
// Flex order
//
@mixin _gridle_common_flex_order(
	$state : default
) {
}


//
// Flex reverse
//
@mixin _gridle_common_flex_reverse(
	$state : default
) {
}


//
// Flex grow
//
@mixin _gridle_common_flex_grow(
	$state : default
) {
	// vars
	$stateName : gridle_get_state_var(name, $state);
	$direction : gridle_get_state_var(direction, $state);
	$classes : gridle_get_state_var(classes, $state);
	$gutter-width : gridle_get_state_var(gutter-width, $state);
	
	// css
	max-width: 100%;
	@include flexbox;
	@include flex(1,1,auto);
	@include flex-direction(column); // reset direction for inner elements
	padding-right: $gutter-width * .5;
	padding-left: $gutter-width * .5;	
}


//
// Flex align
//
@mixin _gridle_common_flex_align(
	$state : default
) {
}


//
// Flex distribution
//
@mixin _gridle_common_flex_distribution(
	$state : default
) {
}


//
// Grid
//
@mixin _gridle_common_grid(
	$state : default
) {
	// vars
	$direction : gridle_get_state_var(direction, $state);
	$classes : gridle_get_state_var(classes, $state);
	$gutter-width : gridle_get_state_var(gutter-width, $state);

	// css
	display:inline-block;
	min-height:1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	@if $direction == rtl {
		float:right;
		direction:rtl;
	} @else {
		float:left;
		direction:ltr;
	}
	padding-left:$gutter-width/2;
	padding-right:$gutter-width/2;
}

@mixin _gridle_common_parent(
	$state : default
) {
	// For modern browser
	&:before,
	&:after {
		content:"";
		display:table;
	}
	&:after {
		clear:both;
	}
	// For IE 6/7 (trigger hasLayout
	& {
	   zoom:1;
	}
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin _gridle_common_push(
	$state : default
) {
	// css
	position:relative;
}

@mixin _gridle_common_pull(
	$state : default
) {
	// css
	position:relative;
}

@mixin _gridle_common_prefix(
	$state : default
) {
}

@mixin _gridle_common_suffix(
	$state : default
) {
}

@mixin _gridle_common_clear_each(
	$state : default
) {
}

@mixin _gridle_common_centered(
	$state : default
) {
	display:block !important;
	float:none !important;
	margin-left:auto !important;
	margin-right:auto !important;
	clear:both !important;
}

@mixin _gridle_common_align(
	$state : default
) {
}

@mixin _gridle_common_hide(
	$state : default
) {
}

@mixin _gridle_common_not_visible(
	$state : default
) {
}

@mixin _gridle_common_show(
	$state : default
) {
}

@mixin _gridle_common_show_inline(
	$state : default
) {
}

@mixin _gridle_common_visible(
	$state : default
) {
}

@mixin _gridle_common_float(
	$state : default
) {
}

@mixin _gridle_common_clear(
	$state : default
) {
}

@mixin _gridle_common_no_gutter(
	$state : default
) {
}

@mixin _gridle_common_gutter(
	$state : default
) {
}