// |------------------------------------------------------
// |------------------------------------------------------
// | Mixins
// |------------------------------------------------------
// |------------------------------------------------------

@mixin gridle_init() {
	@each $stateName, $state in $_gridle_states {
		@at-root {
			$q : _gridle_get_media_query($state);
			@if $q {

				@debug("query 3 #{$q} #{$stateName}");
				@media #{$q} {
					@include _gridle_init_silent_classes($state);
				}
			} @else {
				@include _gridle_init_silent_classes($state);
			}
		}
	}
}

@mixin _gridle_init_silent_classes(
	$state : default
) {
	// get state name
	$stateName : gridle_get_state_var(name, $state);

	@debug("create silent for #{$stateName}");

	// grid
	%#{$stateName}-grid {
		@include _gridle_common_grid($state);
	}

	// push
	%#{$stateName}-push {
		@include _gridle_common_push($state);
	}

	// pull
	%#{$stateName}-pull {
		@include _gridle_common_pull($state);
	}

	// prefix
	%#{$stateName}-prefix {
		@include _gridle_common_prefix($state);
	}

	
	// suffix
	%#{$stateName}-suffix {
		@include _gridle_common_suffix($state);
	}
}

@mixin _gridle_extend_common_class(
	$what,
	$state : default
) {
	// extend
	$name : gridle_get_state_var(name, $state);
	$extend : gridle_get_extend_class_map($what, $name);
	@each $key, $value in $extend {
		@if type-of($value) == string {
			#{$key}:"#{$value}";
		} @else {
			#{$key}:#{$value};
		}
	}
}

// Helper to apply multiple config for a certain state with one mixin
@mixin gridle_set(
	$settings,
	$state : default
) {
	
	// loop on each settings
	@each $settingName, $settingValue in $settings
	{
		$sn : unquote("#{$settingName}");
		$sv : $settingValue;

		// check if setting name is a state :
		@if gridle_has_state($sn) {
			// process the state
			@include gridle_set($sv, $sn);
		} @else {
			@if $sn == container {
				@include gridle_container($state);
			} @else if $sn == grid {
				@include gridle($sv, $state);
			} @else if $sn == push {
				@include gridle_push($sv, $state);
			} @else if $sn == pull {
				@include gridle_pull($sv, $state);
			} @else if $sn == prefix {
				@include gridle_prefix($sv, $state);
			} @else if $sn == suffix {
				@include gridle_suffix($sv, $state);
			} @else if $sn == pull {
				@include gridle_pull($sv, $state);
			} @else if $sn == clear_each {
				@include gridle_clear_each(nth($sv,1), nth($sv,2), $state);
			} @else if $sn == centered {
				@include gridle_centered($state);
			} @else if $sn == parent {
				@include gridle_parent($state);
			} @else if $sn == vertical_align {
				@include gridle_vertical_align($sv, $state);
			} @else if $sn == hide {
				@if $sv == true {
					@include gridle_hide($state);
				} @else {
					@include gridle_show($state);
				}
			} @else if $sn == show {
				@if $sv == true {
					@include gridle_show($state);
				} @else {
					@include gridle_hide($state);
				}
			} @else if $sn == visible {
				@if $sv == true {
					@include gridle_visible($state);
				} @else {
					@include gridle_not_visible($state);
				}
			} @else if $sn == not_visible {
				@if $sv == true {
					@include gridle_not_visible($state);
				} @else {
					@include gridle_visible($state);
				}
			} @else if $sn == show_inline {
				@if $sv == true {
					@include gridle_show_inline($state);
				} @else {
					@include gridle_hide($state);
				}
			} @else if $sn == float {
				@include gridle_float($sv, $state);
			} @else if $sn == clear {
				@include gridle_clear($sv, $state);
			} @else if $sn == no_gutter
				or $sn == no_margin {
				@include gridle_no_gutter($sv, $state);
			} @else if $sn == gutter
				or $sn == margin {
				@include gridle_gutter($sv, $state);
			} @else {
				// we do nothing
			}
		}
	}
}

// Responsive helpers mixins :
@mixin gridle_state(
	$states,
	$has-parent : true
) {

	// check if is a min-max witdh query (compatibility layer)
	@if type-of($states) == number and type-of($has-parent) == number {

		// get a new state from settings passed
		$state : gridle_get_state((
			min-width : $states,
			max-width : $has-parent
		));

		// make a query
		@include gridle_state($state) {
			@content;
		}

	} @elseif type-of($states) == list
		or type-of($states) == string {

		// loop on each states :
		@each $state in $states
		{
			// make sure we have the state object
			$state : gridle_get_state($state);

			// save current state
			$_gridle_current_state : $state !global;
			$_gridle_current_stateName : gridle_get_state_var(name, $state) !global;

			// variables :
			$html-states-classes : gridle_get_state_var(html-states-classes, $state);
			$debug : gridle_get_state_var(debug, $state);
			$stateName : gridle_get_state_var(name, $state);

			// check if is a state :
			@if ($html-states-classes or $debug)
				and $stateName {
				// html class :
				@if $has-parent {
					html#{_gridle_classname("#{$stateName}")} & { @content; }
				} @else {
					html#{_gridle_classname("#{$stateName}")} { @content; }
				}
			}

			// get the media query :
			$q : _gridle_get_media_query($state);

			// make the media query if a query exist :
			@if $q {
				@debug("query 1 #{$q}");
				@media #{$q} {
					@content;
				}
			} @else {
				@debug("no query 1");
				@content;
			}
		}

	} @elseif type-of($states) == map {

		// get a state from the passed one
		$state : gridle_get_state($states);

		// save current state
		$_gridle_current_state : $states !global;
		$_gridle_current_stateName : gridle_get_state_var(name, $states) !global;

		// variables :
		$html-states-classes : gridle_get_state_var(html-states-classes, $states);
		$debug : gridle_get_state_var(debug, $states);
		$stateName : gridle_get_state_var(name, $states);

		// check if is a state :
		@if ($html-states-classes or $debug)
			and $stateName {
			// html class :
			@if $has-parent {
				html#{_gridle_classname("#{$stateName}")} & { @content; }
			} @else {
				html#{_gridle_classname("#{$stateName}")} { @content; }
			}
		}

		// get the media query :
		$q : _gridle_get_media_query($states);

		// make the media query if a query exist :
		@if $q {
			@debug("query 2 #{$q}");
			@media #{$q} {
				@content;
			}
		} @else {
			@debug("no query 2");
			@content;
		}
	}

	@debug("reset current state");

	// reset current state to default
	$_gridle_current_state : $_gridle_settings !global;
	$_gridle_current_stateName : default !global;

}



// Container mixin :
@mixin gridle_container(
	$states : default
) {
	@include _gridle_container_common($states);

	// check if need media query :
	@each $s in $states {
		@include gridle_state($s) {
			@include _gridle_container($s);
		}
	}
}
@mixin _gridle_container(
	$state : default
) {
	
}

@mixin _gridle_extend(
	$for
) {
	@debug("extend %#{$_gridle_current_stateName}-#{$for}");

	// extend
	@extend %#{$_gridle_current_stateName}-#{$for};
}						

@mixin _gridle_call(
	$states : default
) {
	// check if need media query :
	@if type-of($states) == map {
		@include gridle_state($states) {
			$_content_arg_state : $states !global;
			@content;
		}
	} @elseif $states {
		@each $s in $states {
			// extend common css for grid and state
			@include gridle_state($s) {
				$_content_arg_state : $s !global;
				@content;
			}
		}
	} @else {
		$_content_arg_state : $_gridle_current_state !global;
		@content;
	}
}

// Grid mixin :
// Set the width of the specified grid column :
@mixin gridle(
	$columns,
	$states-or-context : null,
	$states : null
) {
	// manage state and context :
	$context : null;
	@if type-of($states-or-context) == number {
		$context : $states-or-context;
	} @else {
		$states : $states-or-context;
	}

	@include _gridle_call($states) {
		@include _gridle($columns, $_content_arg_state, $context);
	}
}
@mixin _gridle(
	$columns,
	$state : default,
	$context : null
) {

	// vars :
	$name : gridle_get_state_var(name, $state);
	@if type-of($context) != number {
		$context : gridle_get_state_var(context, $state);
	}
	$name-multiplicator : gridle_get_state_var(name-multiplicator, $state);
	$ie7-support : gridle_get_state_var(ie7-support, $state);
	$debug : gridle_get_state_var(debug, $state);
	$debug-show-class-names : gridle_get_state_var(debug-show-class-names, $state);

	// extend common css
	@include _gridle_extend(grid);

	// manage columns
	@if type-of($columns) != number and map-has-key($_gridle_columns, $columns) {
		// the columns is a saved one, get the context and column value
		$column : map-get($_gridle_columns, $columns);
		$context : map-get($column, context);
		$columns : map-get($column, columns);
	} @else if type-of($columns) == number {
		$columns : $columns / $name-multiplicator;
	} @else {
		@error "the column #{$columns} does not exist...";
	}

	// vars :
	$width : percentage(1 / $context * $columns);

	// set value :
	width:$width;
	
	// ie7 support :
	@if $ie7-support == true {
		*width: expression((this.parentNode.clientWidth/#{$context}*#{($columns / $name-multiplicator)} - parseInt(this.currentStyle['paddingLeft']) - parseInt(this.currentStyle['paddingRight'])) + 'px');
	}
	
	// debug :
	@if $debug == true and $debug-show-class-names == true {
		#{$gridle-debug-selector} {
			&:before {
				@if $name == default {
					content:"grid-#{$name}-#{$columns}";
				} @else {
					content:"grid-#{$name}-#{$columns}" !important;
				}
			}
			&.parent:before {
				@if $name == default {
					content:"grid-parent-#{$name}-#{$columns}";
				} @else {
					content:"grid-parent-#{$name}-#{$columns}" !important;
				}
			}
		}
	}
}


// push :
// Push the element of the count of column wanted
@mixin gridle_push(
	$columns,
	$states-or-context : null,
	$states : null
) {
	// manage state and context
	$context : null;
	@if type-of($states-or-context) == number {
		$context : $states-or-context;
	} @else {
		$states : $states-or-context;
	}

	@include _gridle_call($states) {
		@include _gridle_push($columns, $_content_arg_state, $context);
	}
}
@mixin _gridle_push(
	$columns,
	$state : default,
	$context : null
) {
	// variables :
	$name : gridle_get_state_var(name, $state);
	@if type-of($context) != number {
		$context : gridle_get_state_var(context, $state);
	}
	$direction : gridle_get_state_var(direction, $state);
	$name-multiplicator : gridle_get_state_var(name-multiplicator, $state);
	$debug : gridle_get_state_var(debug, $state);
	$debug-show-class-names : gridle_get_state_var(debug-show-class-names, $state);

	// extend common css
	@include _gridle_extend(push);

	// vars :
	$width : percentage(1 / $context) * ($columns / $name-multiplicator);
	@if $direction == rtl { $width : $width*-1; }
	left:$width;

	// debug css :
	@if $debug == true and $debug-show-class-names == true {
		#{$gridle-debug-selector} {
			&:after {
				@if $name == default {
					content:"push-#{$name}-#{$columns}";
				} @else {
					content:"push-#{$name}-#{$columns}" !important;
				}
			}
		}
	}
}


// pull :
// Pull the element of the count of column wanted
@mixin gridle_pull(
	$columns,
	$states-or-context : null,
	$states : null
) {
	// manage state and context
	$context : null;
	@if type-of($states-or-context) == number {
		$context : $states-or-context;
	} @else {
		$states : $states-or-context;
	}

	@include _gridle_call($states) {
		@include _gridle_pull($columns, $_content_arg_state, $context);
	}
}
@mixin _gridle_pull(
	$columns,
	$state : default,
	$context : null
) {
	// variables :
	$name : gridle_get_state_var(name, $state);
	@if type-of($context) != number {
		$context : gridle_get_state_var(context, $state);
	}
	$direction : gridle_get_state_var(direction, $state);
	$name-multiplicator : gridle_get_state_var(name-multiplicator, $state);
	$debug : gridle_get_state_var(debug, $state);
	$debug-show-class-names : gridle_get_state_var(debug-show-class-names, $state);

	// extend common css
	@include _gridle_extend(pull);

	// vars :
	$width : percentage(1 / $context) * ($columns / $name-multiplicator);
	@if $direction == rtl { $width : $width*-1; }
	right:$width;

	// debug css :
	@if $debug == true and $debug-show-class-names == true {
		#{$gridle-debug-selector} {
			&:after {
				@if $name == default {
					content:"pull-#{$name}-#{$columns}";
				} @else {
					content:"pull-#{$name}-#{$columns}" !important;
				}
			}
		}
	}
}


// push :
// Push the element of the count of column wanted
@mixin gridle_prefix(
	$columns,
	$states : null
) {
	@include _gridle_call($states) {
		@include _gridle_prefix($columns, $_content_arg_state);
	}
}
@mixin _gridle_prefix(
	$columns,
	$state : default
) {
	// vars :
	$name : gridle_get_state_var(name, $state);
	$context : gridle_get_state_var(context, $state);
	$direction : gridle_get_state_var(direction, $state);
	$gutter-width : gridle_get_state_var(gutter-width, $state);
	$name-multiplicator : gridle_get_state_var(name-multiplicator, $state);
	$debug : gridle_get_state_var(debug, $state);
	$debug-show-class-names : gridle_get_state_var(debug-show-class-names, $state);

	// extend common css only if there's some css in common class (otherwise sass will throw an error...)
	@if gridle_has_extend_class_map(prefix, $name) {
		@include _gridle_extend(prefix);
	}

	// vars :
	$width : percentage(1 / $context) * ($columns / $name-multiplicator);

	// set value :
	@if $direction == rtl { margin-right:$width; }
	@else { margin-left:$width; }

	// debug css :
	@if $debug == true and $debug-show-class-names == true {
		#{$gridle-debug-selector} {
			&:after {
				@if $name == default {
					content:"prefix-#{$name}-#{$columns}";
				} @else {
					content:"prefix-#{$name}-#{$columns}" !important;
				}
			}
		}
	}
}


// pull :
// Pull the element of the count of column wanted
@mixin gridle_suffix(
	$columns,
	$states : null
) {
	@include _gridle_call($states) {
		@include _gridle_suffix($columns, $_content_arg_state);
	}
}
@mixin _gridle_suffix(
	$columns,
	$state : default
) {
	// vars :
	$name : gridle_get_state_var(name, $state);
	$context : gridle_get_state_var(context, $state);
	$direction : gridle_get_state_var(direction, $state);
	$gutter-width : gridle_get_state_var(gutter-width, $state);
	$name-multiplicator : gridle_get_state_var(name-multiplicator, $state);
	$debug : gridle_get_state_var(debug, $state);
	$debug-show-class-names : gridle_get_state_var(debug-show-class-names, $state);

	// extend common css only if there's some css in common class (otherwise sass will throw an error...)
	@if gridle_has_extend_class_map(suffix, $name) {
		@include _gridle_extend(suffix);
	}

	// vars :
	$width : percentage(1 / $context) * ($columns / $name-multiplicator);
	
	// set value :
	@if $direction == rtl { margin-left:$width; }
	@else { margin-right:$width; }

	// debug css :
	@if $debug == true and $debug-show-class-names == true {
		#{$gridle-debug-selector} {
			&:after {
				@if $name == default {
					content:"suffix-#{$name}-#{$columns}";
				} @else {
					content:"suffix-#{$name}-#{$columns}" !important;
				}
			}
		}
	}
}


// grid background :
// Display the grid background debug
@mixin gridle_grid_background(
	$states : null
) {
	@include _gridle_call($states) {
		@include _gridle_grid_background($_content_arg_state);
	}
}
@mixin _gridle_grid_background(
	$state : default
) {
	
	// variables :
	$context : gridle_get_state_var(context, $state);

	position:relative;
	z-index:9999;
	&:before {
		content:'';
		position:absolute;
		top:0; left:0;
		width:100%; height:100% !important;
		// vars :
		$width : percentage(1 / $context);
		background: linear-gradient(to right, rgba(0,0,0,.01) 50% , rgba(0,0,0,.04) 50%); /* Standard syntax */
		background-size:($width*2) 100%;
		// background-position:$gridle-gutter-width/2 0;
	}
}


/**
 * Parent clear each
 */
// Grid mixin :
// Set the width of the specified grid column :
@mixin gridle_clear_each(
	$clearEach,
	$clearWhat : both,
	$states : null
) {
	@include _gridle_call($states) {
		@include _gridle_clear_each($clearEach, $clearWhat, $_content_arg_state);
	}
}
@mixin _gridle_clear_each(
	$clearEach,
	$clearWhat,
	$state : default
) {
	> *:nth-child(#{$clearEach}n+1) {
		clear : $clearWhat;
	}
}


// Grid centered :
@mixin gridle_centered(
	$states : null
) {
	@include _gridle_call($states) {
		@include _gridle_centered($_content_arg_state);
	}
}
@mixin _gridle_centered(
	$state : default
) {
	display:block !important;
	float:none !important;
	margin-left:auto !important;
	margin-right:auto !important;
	clear:both !important;
}


// Grid parent :
@mixin gridle_parent(
	$states : null
) {
	@include _gridle_call($states) {
		@include _gridle_parent($_content_arg_state);
	}
}
@mixin _gridle_parent(
	$state : default
) {
	@include gridle_no_gutter();
}


/**
 * Vertical align :
 */
@mixin gridle_vertical_align(
	$align : middle,
	$states : null
) {
	@include _gridle_call($states) {
		@include _gridle_vertical_align($align, $_content_arg_state);
	}
}
@mixin _gridle_vertical_align(
	$align : middle,
	$state : default
) {
	font-size:0;
	clear:both;

	> * {
		display:inline-block;
		float:none !important;
		vertical-align:$align;
		font-size:1rem;
	}
}


// Hide on :
// @param 	String 	$media  On what state
@mixin gridle_hide(
	$states : null
) {
	@include _gridle_call($states) {
		@include _gridle_hide($_content_arg_state);
	}
}
@mixin _gridle_hide(
	$state : default
) {
	display:none;
}


// Not visible on :
// @param 	String 	$media 	What to hide (one of the 3 state classes name)
@mixin gridle_not_visible(
	$states : null
) {
	@include _gridle_call($states) {
		@include _gridle_not_visible($_content_arg_state);
	}
}
@mixin _gridle_not_visible(
	$state : default
) {
	visibility:hidden;
}


// Show on
// @param 	String 	$media 	What to hide (one of the 3 state classes name)
@mixin gridle_show(
	$states : null
) {
	@include _gridle_call($states) {
		@include _gridle_show($_content_arg_state);
	}
}
@mixin _gridle_show(
	$state : default
) {
	display:block;
}


/**
 * Show inline
 *
 * @param 	String 		$state 		The state name
 */
@mixin gridle_show_inline(
	$states : null
) {
	@include _gridle_call($states) {
		@include _gridle_show_inline($_content_arg_state);
	}
}
@mixin _gridle_show_inline(
	$state : default
) {
	display:inline-block;
}


// Visible on :
// @param 	String 	$media 	On what state
@mixin gridle_visible(
	$states : null
) {
	@include _gridle_call($states) {
		@include _gridle_visible($_content_arg_state);
	}
}
@mixin _gridle_visible(
	$state : default
) {
	visibility:visible;
}


// Gridle Right :
@mixin gridle_float(
	$float-direction : left,
	$states : null
) {
	@include _gridle_call($states) {
		@include _gridle_float($float-direction, $_content_arg_state);
	}
}
@mixin _gridle_float(
	$float-direction : left,
	$state : default
) {
	float:#{$float-direction};
}


// Gridle clear :
// @param 	String 	$clear-direction 	The direction to clear
// @param 	String 	$state 				The state
@mixin gridle_clear(
	$clear-direction : both,
	$states : null
) {
	@include _gridle_call($states) {
		@include _gridle_clear_each($clear-direction, $_content_arg_state);
	}
}
@mixin _gridle_clear(
	$clear-direction : both,
	$state : default
) {
	clear:#{$clear-direction};
}


// Gridle no gutter :
// @param 	String 	$side 				The side to clear
// @param 	String 	$state 				The state
@mixin gridle_no_gutter(
	$side : left right,
	$states : null
) {
	@include _gridle_call($states) {
		@include _gridle_no_gutter($side, $_content_arg_state);
	}
}
@mixin gridle_no_margin(
	$side : left right,
	$state : null
) {
	@include gridle_no_gutter($side, $state);
}
@mixin _gridle_no_gutter(
	$side : left right,
	$state : default
) {
	@each $s in $side {
		padding-#{$s} : 0;
	}
}


// Gridle gutter :
// @param 	String 	$side 				The side to clear
// @param 	String 	$state 				The state
@mixin gridle_gutter(
	$side : left right,
	$states : null
) {
	@include _gridle_call($states) {
		@include _gridle_gutter($side, $_content_arg_state);
	}
}
// shortcut :
@mixin gridle_margin(
	$side : left right,
	$state : null
) {
	@include gridle_gutter($side, $state);
}
@mixin _gridle_gutter(
	$side : left right,
	$state : default
) {
	$gutter-width : gridle_get_state_var(gutter-width, $state);
	@each $s in $side {
		padding-#{$s} : $gutter-width / 2;
	}
}