// |------------------------------------------------------
// |------------------------------------------------------
// | Settings mixins
// |------------------------------------------------------
// |------------------------------------------------------

// Register an state :
@mixin gridle_register_state(
	$name,
	$min-width-or-query : null,
	$max-width-or-classes-generation : null,
	$classes-generation : true,
	$context : $gridle-columns-count
) {
	$index : length($_gridle_states) * length($_gridle_states_vars_pattern);

	// process variables :
	$name : $name;
	$min-width : null;
	$max-width : null;
	$query : null;
	$classes : true;
	$context : $context;
	@if type-of($min-width-or-query) == string {
		$query : $min-width-or-query;
	} @else {
		@if $min-width-or-query {
			$min-width : $min-width-or-query;
		}
	}
	@if type-of($max-width-or-classes-generation) == bool {
		$classes : $max-width-or-classes-generation;
	} @else {
		@if $max-width-or-classes-generation {
			$max-width : $max-width-or-classes-generation;
		}
		$classes : $classes-generation;
	}

	// creating state :
	$state : (
		$name : (
			name : $name,
			min-width : $min-width,
			max-width : $max-width,
			query : $query,
			classes : $classes,
			context : $context
		)
	);

	// add state in maps :
	$_gridle_states : map-merge($_gridle_states, $state);
}


/**
 * Register a special class
 */
@mixin gridle_register_column(
	$name,
	$columns,
	$context,
	$generateClasses : true
) {
	// app the column in the variable :
	// $column : (
	// 	$name : (
	// 		name : $name,
	// 		columns : $columns,
	// 		context : $context,
	// 		generateClasses : $generateClasses
	// 	)
	// );

	$col : _gridle_create_column($name, $columns, $context, $generateClasses);

	// add column in maps :
	$_gridle_columns : map-set($_gridle_columns, $name, $col);
	// $_gridle_columns : map-merge($_gridle_columns, $column);
}


// Register default states :
@mixin gridle_register_default_states() {
	// register mobile and tablet states :
	@include gridle_register_state("mobile",null,480px);
	@include gridle_register_state("tablet",481px,1024px);
}


// set context by state :
@mixin gridle_set_context_for_state(
	$state,
	$context
) {
	// set context in state :
	// $var : _gridle_set_state_var($state, "context", $context);
}


// set state debug device :
@mixin gridle_set_debug_device(
	$state : null,
	$device : null
) {

	// check params :
	@if $state and $device {
		// set the state device :
		$_gridle_states_debug_devices : append($_gridle_states_debug_devices, unquote("\"#{$state}\" : \"#{$device}\""), comma);
	}

}