/**
 * Imports
 */
@import 'gridle';

/**
 * Configuration :
 */
$gridle-columns-count : 20;
$gridle-name-multiplicator : 5;

/**
 * Fix width of container :
 */
.container, .grid-container, .container-20, .c-20 {
	max-width:1200px;
	margin:0 auto;
}