@import "../../sass/gridle/gridle";// Import gridle


// setup the grid (required)
@include gridle_setup((
	context : 12,
	gutter-width : 20px,
	// gutter-left : 20px,
	// direction : rtl,
	// dir-attribute : true,
	states-classes : false,
	// classes-prefix : 'gr-'
));

// register special columns
@include gridle_register_column("1on5", 1, 5);


// clear each classes
@include gridle_register_clear_each(2, left);
@include gridle_register_clear_each(3, left);
@include gridle_register_clear_each(12, both);


// register states
@include gridle_register_state( desktop, (
    max-width : 1400px,
    gutter-width : 30px
));
@include gridle_register_state( tablet, (
    max-width : 767px,
    gutter-width : 10px
));



// Init Gridle
@include gridle_generate_classes ();



@include gridle_generate_custom_class(('no-margin', '-', '%hello', '-', '%side', '@', '%state'), all, (test ok good)){
    $side : map-get($gridle-scope, side);
	@debug($gridle-scope);

    @if($side == null){
        margin : 0;
    }@else{
        margin-#{$side} : 0;
    }
}

.test{
    background : red;
    height : 100px;
}
